<p id="notice"><%= notice %></p>

<h1>Speaking Requests</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>User Email</th>
      <th>User Phone</th>
      <th>Event name</th>
      <th>Event date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speaking_requests.each do |speaking_request| %>
      <tr>
        <td><%= speaking_request.user.name %></td>
        <td><%= speaking_request.user.email %></td>
        <td><%= speaking_request.user.phone %></td>
        <td><%= speaking_request.event_name %></td>
        <td><%= speaking_request.event_date %></td>
        <td><%= speaking_request.description %></td>
        <td><%= link_to 'Show', speaking_request %></td>
        <td><%= link_to 'Edit', edit_speaking_request_path(speaking_request) %></td>
        <td><%= link_to 'Destroy', speaking_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speaking Request', new_speaking_request_path %>
