<%= form_tag '/swag_requests', method: :post do |f| %>
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name, "", class: "form-control" %>
  </div>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, "", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= label_tag :phone %>
    <%= text_field_tag :phone, "", class: "form-control" %>
  </div>  

  <div class="field">
    <%= label_tag :address %>
    <%= text_field_tag :address, "", class: "form-control" %>
  </div>

 <div class="field">
    <%= label_tag :item %>
    <%= select_tag :item, options_for_select([['Sweater', 'Sweater'], 
    ['V-Neck', 'V-Neck'], ['Cap', 'Cap']]), class: "form-control" %>
  </div>
  
 <div class="field">
    <%= label_tag :gender %>
    <%= select_tag :gender, options_for_select([['male', 'male'], 
    ['female', 'female']]), class: "form-control" %>
  </div>   
  
   <div class="field">
    <%= label_tag :size %>
    <%= select_tag :size, options_for_select([['Extra Small', 'Extra Small'], 
    ['Small', 'Small'], ['Medium', 'Medium'], ['Large', 'Large'], ['Extra Large', 'Extra Large'],
    ['Other', 'Other']]), class: "form-control" %>
  </div> 
  
  <div class="field">
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity, "", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= label_tag :description %>
    <%= text_area_tag :description, "", class: "form-control" %>
  </div>

  <div class="form-group">
  <button class="btn btn-primary">
    Request for Swag
  </button>
  </div>
<% end %>

