<h1>Ask Kevin Hong</h1>

<p>
  <%= link_to 'Speaker', new_speaking_request_path %>
</p>

<p>
  <%= link_to 'Coaching', new_coaching_request_path %>
</p>

<p>
  <%= link_to 'Writer', new_writing_request_path %>
</p>

<p>
  <%= link_to 'Swag', new_swag_request_path %>
</p>

<p>
  <%= link_to 'Advisor', new_advisor_request_path %>
</p>

