<p id="notice"><%= notice %></p>

<h1>Advisor Requests</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Email</th>
      <th>Phone</th>
      <th>Company Name</th>
      <th>Company Size</th>
      <th>Company Industry</th>
      <th>Description</th>
      <th>Industry</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advisor_requests.each do |advisor_request| %>
      <tr>
        <td><%= advisor_request.user.name %></td>
        <td><%= advisor_request.user.email %></td>
        <td><%= advisor_request.user.phone %></td>
        <td><%= advisor_request.company.name %></td>
        <td><%= advisor_request.company.size %></td>
        <td><%= advisor_request.company.industry %></td>
        <td><%= advisor_request.description %></td>
        <td><%= link_to 'Show', advisor_request %></td>
        <td><%= link_to 'Edit', edit_advisor_request_path(advisor_request) %></td>
        <td><%= link_to 'Destroy', advisor_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advisor Request', new_advisor_request_path %>
