<%= form_for(coaching_request) do |f| %>
  <% if coaching_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coaching_request.errors.count, "error") %> prohibited this coaching_request from being saved:</h2>

      <ul>
      <% coaching_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :submitted_at %>
    <%= f.datetime_select :submitted_at %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
