<%= form_tag '/coaching_requests', method: :post do |f| %>
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  
  <div class="field">
    <%= label_tag :phone %>
    <%= text_field_tag :phone %>
  </div>
  
  <div class="field">
    <%= label_tag :coaching_type %>
    <%= select_tag :coaching_type, options_for_select([['Career Coaching', 'Career Coaching'], ['Salary Negotiation', 'Salary Negotiation'], 
    ['Promotions at Work', 'Promotions at Work'], ['Starting a New Business', 'Starting a New Business'], ['Life Advice', 'Life Advice'], ['Other', 'Other']]) %>
  </div>  

  <div class="field">
    <%= label_tag :description %>
    <%= text_area_tag :description %>
  </div>

  <div class="actions">
    <%= submit_tag 'Request for Coaching' %>
  </div>
<% end %>
