<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @coaching_request.user.name %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @coaching_request.user.email %>
</p>

<p>
  <strong>User Phone:</strong>
  <%= @coaching_request.user.phone %>
</p>

<p>
  <strong>Submitted at:</strong>
  <%= @coaching_request.submitted_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coaching_request.description %>
</p>

<p>
  <strong>Coaching Type:</strong>
  <%= @coaching_request.coaching_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @coaching_request.status %>
</p>

<%= link_to 'Edit', edit_coaching_request_path(@coaching_request) %> |
<%= link_to 'Back', coaching_requests_path %>
